* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  
}

:root {
  font-size: 24px;
  
}

.container{
  max-width: 1200px;
  margin: 0 auto;

 
}

body {
  /*display: flex;
  flex-direction: column;*/
  min-height: 100vh;
  /*font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;*/
  background-color: rgb(255, 255, 255);
}

main {
  margin: auto;
  width: 80%;
  /*height:fit-content;*/
  background-color: rgb(255, 255, 255);

}

header {
  background-color: rgb(138, 43, 226);
  /*display: flex;
  flex-direction: row;
  margin: auto;
  height: 120px;*/
  
}

footer {
  margin: auto;
  height: fit-content;
  background-color: rgb(99, 98, 98);
  color: antiquewhite;
  
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 36px;
}

h3 {
 font-size: 20px;
}

p {
  font-size: 14px;
}



/*Estilos Header*/

.nav-link{
  font-size: 18px;
}

.navbar {
  align-items: center;
  
}


.navbar__link{
  color: blanchedalmond;
  list-style: none;
  text-decoration: none;
  margin: 0 15px;
}

.navbar__link:hover{
  color: rgb(60, 60, 60);
}

.fa-solid {
  margin: 0 5px;
}


/*Estilos Index*/

.proyecto{
  background-image: url(../img/cuantos_dias_por_semana_debo_correr.png);
  padding: 120px 0;
  background-size: cover;
}


.proyecto_hero_contenido{
  display: flex;
  flex-direction: column;
  align-items: start;
  
    
}

.proyecto_hero_link{
  display: inline-block;
  font-size: 20px;
  color: white;
  background-color: #c7d243;
  margin-top: 20px;
  padding: 8px 45px;
  border-radius: 50px;
  text-decoration: none;
}

.proyecto_hero_link:hover{
background-color: #81882c;
}

.proyecto_hero_texto{
  font-size: 18px;
}



/* Estilos Reseñas*/

.resenias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 20px 0;
  padding: 20px;

}

.resenias_titulo{
  margin-top: 60px;
  text-align: center;
}




/*Estilos para Productos*/

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 70px;
  padding: 20px;
  
}

.productos_card_foto img{
  width: 100%;
  object-fit: cover;
}

.productos_card_boton{
  display: inline-block;
  font-size: 20px;
  color: white;
  background-color: #c7d243;
  margin-top: 20px;
  padding: 5px 25px;
  border-radius: 50px;
  text-decoration: none;
  border-style: none;
}

.productos_card_boton:hover{
  background-color: #81882c;
}

.productos_titulo{
  margin-top: 60px;
  text-align: center;
}


/*Estilos Carrito*/

.pagina_carrito h2{
  text-align: center;
  font-size: 36px;
  margin-top: 40px;

}

.tabla_carrito {
  margin-top: 20px;
  border-collapse:collapse;
  width: 100%;
  
}

.tabla_carrito th {
  font-size: 20px;
  background-color: #838383;
  border: 1px solid #000000;
  text-align: center;
}

.tabla_carrito td {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #e3e1e1;
  border: 1px solid #000000;
  text-align: center;
}

.total_compra{
  text-align:right
}

.total_compra h4{
  font-size: 22px;
}

.botones_carrito{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnInicio {
  background-color: #f60707;
  color: antiquewhite;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 5px 25px;
  border-radius: 50px;
  text-decoration: none;
  border-style: none;
}

.btnInicio:hover{
  background-color: #f84b4b;
}

.btnFinalizar{
  background-color: #c7d243;
  color: #000000;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 5px 25px;
  border-radius: 50px;
  text-decoration: none;
  border-style: none;
  
  
  
}

.btnFinalizar:hover{
  background-color: #9ea828;
}




/*Estilos Formulario Contacto*/

.formulario {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto; 
  
}

.formulario_texto h2{
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  
}

.formulario_texto p{
  font-size: 18px;
  text-align: center;
  
}

.formulario_estilo { 
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 0px;
}

.formulario_estilo input,
.formulario_estilo textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 0px;
    font-size: 14px;
}

.formulario_estilo label{
  display: block;
}

.formulario_info form label{
  font-size: 18px;
}

.formulario_info form input{
  
  font-size: 14px;
}

.boton_enviar {
  width: 100%;
  font-size: 18px;
  color: white;
  background-color: #c7d243;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px 60px;
  text-decoration: none;
  border-style: none;
  border-radius: 50px;

}

.boton_enviar:hover{
  background-color: #81882c;
}


/*Estilos Footer*/

.navbar__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__footer__menu{
  list-style: none;
  font-size: 14px;
}

.footer__copy {
  text-align: center;
  font-size: 14px;
  padding-bottom: 15px; 
  
}


.navbar__footer{
  display: flex;

}

.navbar__footer__item{
  text-align: left;
}



/* TIPOGRAFÍAS */

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}


@media (min-width:420px) and (max-width:767px) {
  .navbar__menu{
    display: none;
  }

  .navbar {
    display:block;
  }

  .proyecto{
    background-image: url(../img/cuantos_dias_por_semana_debo_correr.png);
    padding: 80px 40px;
    background-size: cover;
  }

  .productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    padding: 20px;

  }

  .resenias {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    padding: 20px;
    
  }

  /*Estilos Formularios*/

  .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto; 
    
  }

  .formulario_info{
    display: flex;
    flex-direction: column;
    
  }
}

@media (min-width:767px) and (max-width:1199px){
  .navbar {
    justify-content: center;
    
  }

  .resenias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 20px;
   }

  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 20px;
  }

  .proyecto{
    background-image: url(../img/cuantos_dias_por_semana_debo_correr.png);
    padding: 80px 40px;
    background-size: cover;
  }
}

